<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DjinniCmakeExampleiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5448B211D2FD200001BE66A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5448B3A1D2FD200001BE66A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5448B451D2FD200001BE66A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
